<div class="row">
    <mat-toolbar>
      <div class="col-3 offset-1">
        <span>Tickets App</span>
      </div>
      <div class="col-1">
        <button routerLink="/users" routerLinkActive="active" mat-button>Pagadores</button>
      </div>
      <div class="col-1">
        <button routerLink="/payments" routerLinkActive="active" mat-button>Pagos</button>
      </div>
      <div class="col-1">
        <button routerLink="/items" routerLinkActive="active" mat-button>Items</button>
      </div>
    </mat-toolbar>
  </div>
  